html {
    body {
        padding: 0;
        margin: 0;

        header {
            background: #CC0000;
            color: #FFFFFF;

            h1 {
                margin: 0;
            }
        }

        article {
            div#instalando {
                height: 32px;
                div#progresso {
                    background: #CC0000;
                    height: 32px;
                    width: 0;
                }
            }
        }
    }
}
