<?xml version="1.0" encoding="utf-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.thallisphp.exemplo-1"
        versionCode="10" 
        version   = "1.0.3">

    <!-- versionCode is optional and Android only -->

    <name>Teste App</name>
	
	<feature name="http://api.phonegap.com/1.0/network"/>
	<feature name="http://api.phonegap.com/1.0/notification"/>
	<access origin="http://webpicsites.com.br" subdomains="true" />
	<preference name="stay-in-webview" value="true" />
	<preference name="fullscreen" value="false" />
	<preference name="target-device" value="universal" />
	<preference name="orientation" value="default" />

    <description>
        Descrição de teste
    </description>

    <author href="https://build.phonegap.com" email="thallisphp@outlook.com">
        ThallisPHP
    </author>

</widget>