<!DOCTYPE HTML>
<html lang="en-US" ng-app>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>APP</title>

    <link rel="stylesheet/less" href="less/principal.less" type="text/less">

    <script type="text/javascript" src="js/coffee-script.js"></script>
    <script type="text/javascript" src="js/coffee-script-iced.js"></script>
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/less.js"></script>
    <script type="text/javascript" src="js/angular.js"></script>

    <script type="text/coffecript" src="coffee/funcoes.coffee"></script>
    <script type="text/coffecript" src="coffee/principal.coffee"></script>

    <!--
    <script type="text/javascript" src="js/modernizr.js"></script>

    script[type="text/coffecript" src="coffee/.coffee"]
    script[type="text/coffecript" src="coffee/.coffee"]
    script[type="text/coffecript" src="coffee/.coffee"]
    script[type="text/coffecript" src="coffee/.coffee"]

    link[type="text/less" rel="stylesheet/less" href="less/.less"]
    link[type="text/less" rel="stylesheet/less" href="less/.less"]
    link[type="text/less" rel="stylesheet/less" href="less/.less"]
    link[type="text/less" rel="stylesheet/less" href="less/.less"]
    -->


    <!-- BootStrap -->
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="bootstrap/css/bootstrap-responsive.css" type="text/css">

    <script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
    <div id="wrap">
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <a class="brand" href="#">Project name</a>
                    <div class="nav-collapse collapse">
                        <ul class="nav">
                            <li class="active"><a href="#">Home</a></li>
                            <li><a href="#about">About</a></li>
                            <li><a href="#contact">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <h1>Bootstrap starter template</h1>
            <p>Use this document as a way to quick start any new project.<br> All you get is this message and a barebones HTML document.</p>
            
            <!--
            table.table>(thead>tr>th*4)+(tbody>tr>td*4)+(tfoot>tr>td*4)
            -->
            <table class="table">
                <thead>
                    <tr>
                        <th>Alfa</th>
                        <th>Beta</th>
                        <th>Gama</th>
                        <th>Delta</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><input type="text" ng-model="alfa"></td>
                        <td><input type="text" ng-model="beta"></td>
                        <td><input type="text" ng-model="gama"></td>
                        <td><input type="text" ng-model="delta"></td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tfoot>
            </table>

            <div>
                <label>Seu nome :</label>
                <input type="text" ng-model="nome" placeholder="Digite o seu nome aqui">
                <hr>
                <h1>Olá {{nome}}!</h1>
            </div>
        </div>
    </div>

    <div id="footer">
        <div class="container">
            <p class="muted credit">
                Desenvolvido por <b>ThallisPHP</b>.
            </p>
        </div>
    </div>
</body>
</html>